# === サーバー設定 ===
PORT_NO=8002
HOST=0.0.0.0
DEBUG=false

# CORS設定
CORS_ORIGINS=
http://localhost:3000,
http://127.0.0.1:3000,
http://localhost:82,
http://10.166.96.135:82,
https://10.166.96.135:82

# === 静的ファイル設定 ===
STATIC_DIR=static

# === メール設定 ===
MAIL_HOST=255.255.255.255
MAIL_PORT=587
DEFAULT_RECIPIENT_EMAIL=your-fixed-email@example.com
SENDER_EMAIL=ABC@DE.co.jp
